body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin:0;
  padding:0;

}

ol, ul {
  padding-left: 30px;
}
h1{
  text-align:center;
  font-size:3em;
  color:white;
  text-shadow: 2px 2px 1px black

}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
.board-bg{
  background:#D81E5B;
  width:100%;
  height:80vh;
  padding-top:2vh;
}
.board-Wrapper{
width:31.3%;
margin:auto;
box-shadow:  1px 1px 20px black;
}
.square {
  background: #fff;
  color:rgb(255, 0, 85);
  text-shadow: 2px 2px 1px black;
  border: 1px solid #999;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 150px;
}
.square:hover{
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  width:50vw;
  margin:auto;
  font-size:2em;
}
.game-info button{
  color:white;
  font-size:1.2rem;
  border-radius: 5px;
  width:100%;
  height:3vh;
  border:none;
  background-color:#D81E5B;
  transition: 1s;
  text-shadow: 2px 2px 1px black;
}
.game-info button::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: black;
  transition: width 2s ease;
}
.game-info button:hover::after {
  width: 100%;
}
.game-info button:hover{
  background-color:rgb(255, 0, 85);
  cursor: pointer;
}
ol{
  width:20vw;
  margin-left:15vw;
}
